html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure html and body take the full height of the viewport */
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes the full height of the viewport */
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('https://social.wvu.edu/files/cf8db3b6-8251-41f6-bcec-70310aaf97e3/856x482?cb=5a97cab657c8e733098332dd8174e027');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    flex: 1; /* Allow the hero section to expand and fill the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 5px;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: white;
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.hero .btn {
    background-color: #0051ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: block; 
    margin: 10px auto 0; 
    width: 200px;
}

.hero .btn:hover {
    background-color: #003bb3;
}

.featured-listings {
    padding: 40px 20px;
    text-align: center;
}

.featured-listings h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
}

.listing-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.listing-card h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #002855;
}

.listing-card p {
    margin: 5px 0;
}

.listing-type-home {
    top: 10px;
    right: 10px;
    background-color: #b1b3b5;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }